<%- include('../header.ejs', { title: "Auriculares F11 Pro - AgilTech" }) %>

<body>
    <%- include('../navbar.ejs')  %>

    <div class="f11">
      <div class="f11-blackbox">
          <h1>Auriculares F11 Pro</h1>
          <p>Los auriculares mas poderosos, a un precio increible.</p>
          <hr>
          <h2>Rendimiento acustico sin presedentes</h2>
          <p>Auriculares con cancelacion de ruido y asistente de voz integrado</p>
          <img src="/images/f11-pro-stereo-sorround.webp" alt="Auriculares F11 Pro Stereo Sorround" style="border-radius: 10px;">
          <hr>
          <h2>Maxima resistencia al agua</h2>
          <p>Auriculares para disfrutar tu vida sin limites</p>
          <img src="/images/f11-pro-resistente-al-agua.webp" alt="Auriculares F11 Pro Resistentes al Agua" style="border-radius: 10px;">
          <hr>
          <h2>Carga tu celular</h2>
          <p>No te quedes sin bateria, carga tu celular donde estes</p>
          <img src="/images/f11-pro-carga-tu-celular.webp" alt="Auriculares F11 Pro Powerbank" style="border-radius: 10px;">
          <hr>
          <h2>Tamaño perfecto</h2>
          <p>Diseñado para encajar perfectamente en cualquier bolsillo</p>
          <img src="/images/f11-pro-tamano-ideal.webp" alt="Auriculares F11 Tamaño Perfecto" style="border-radius: 10px;">
      </div>
    </div>
    <div class="f11-specs">
      <table border="1">
        <tr>
          <th>Característica</th>
          <th>Detalles</th>
        </tr>
        <tr>
          <td>Es inalámbrico</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Es resistente al agua</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Con luz LED</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Con cancelación de ruido</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Con micrófono</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Duración de la batería</td>
          <td>5 h</td>
        </tr>
      </table>
      <table border="1">
        <tr>
          <th>Formato del auricular</th>
          <td>In-ear</td>
        </tr>
        <tr>
          <th>Es monoaural</th>
          <td>No</td>
        </tr>
        <tr>
          <th>Es gamer</th>
          <td>Sí</td>
        </tr>
      </table>
    </div>

    <a href="https://mpago.la/23EZha1" target="_blank" class="buy-btn" style="max-width: 200px; margin: 10px auto;">Comprar Ahora</a>
</div>

    <modern-footer></modern-footer>
</body>
</html>
