<%- include('../header.ejs', { title: "Auriculares F9-5 TWS - AgilTech" }) %>

<body>
    <%- include('../navbar.ejs')  %>
  
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <video src="/videos/auriculares-f9-5-tws.mp4" class="d-block w-100" alt="..." autoplay muted loop>
                </video>
                <div class="carousel-caption">
                    <h1><b>Auriculares F9-5 TWS</b></h1>
                    <h4>Los mejores auriculares de Argentina, al mejor precio.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="f9-5">
    <div class="f9-5-blackbox">
        <h2>Rendimiento acustico sin presedentes</h2>
        <p>Auriculares con cancelacion de ruido y asistente de voz integrado</p>
        <img src="/images/f9-5-auriculares-negros-led.png">
        <h2>Maxima resistencia al agua</h2>
        <p>Auriculares para disfrutar tu vida sin limites</p>
        <img style="animation: none; width: auto; border-radius: 20px;" src="/images/auriculares-f9-5-negros.jpeg">
    </div>
    <div class="f9-5-specs">
    <table border="1">
        <tr>
          <th>Característica</th>
          <th>Detalles</th>
        </tr>
        <tr>
          <td>Es inalámbrico</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Es resistente al agua</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Con luz LED</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Con cancelación de ruido</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Con micrófono</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>Duración de la batería</td>
          <td>5 h</td>
        </tr>
      </table>
      <table border="1">
        <tr>
          <th>Formato del auricular</th>
          <td>In-ear</td>
        </tr>
        <tr>
          <th>Es monoaural</th>
          <td>No</td>
        </tr>
        <tr>
          <th>Es gamer</th>
          <td>Sí</td>
        </tr>
      </table>
    </div>

    <a href="https://mpago.la/2txDRyP" target="_blank" class="buy-btn" style="max-width: 200px; margin: 10px auto;">Comprar Ahora</a>
</div>

    <modern-footer></modern-footer>
</body>
</html>
