<%- include('../header.ejs', { title: "Infancia Conectada: Navegando Entre Pantallas - AgilTech" }) %>
<body>
  <%- include('../navbar.ejs')  %>

  <%- include ('../article.ejs', { 
    title: "Infancia Conectada: Navegando Entre Pantallas", 
    subtitle: "La Paradoja Digital en la Niñez", 
    img: "/images/articulos/infancia-conectada.jpg", 
    content: [
      "En una época donde la tecnología ha tejido sus hilos en cada aspecto de nuestras vidas, la infancia no ha escapado a su influencia transformadora. Antaño, nuestras memorias infantiles se construían en plazas, entre risas y roces de rodillas. Ahora, la virtualidad ha irrumpido en la escena, planteando un dilema entre el encanto de lo físico y la atracción magnética de las pantallas.",
      "Recordemos los días en los que el sol guiaba nuestras aventuras en la plaza, cuando el juego era sinónimo de movimiento y exploración. La realidad actual presenta un cambio, donde los niños han migrado hacia entornos virtuales, sustituyendo el juego al aire libre por la interacción digital. La conexión constante a dispositivos electrónicos plantea interrogantes sobre el impacto en la salud física, mental y las habilidades sociales.",
      "La sociedad de consumo, impulsada por la constante innovación tecnológica, ha convertido las pantallas en compañeras inseparables de la niñez. Este fenómeno no solo redefine el modo en que los niños juegan, sino que también influye en su desarrollo emocional y social. La publicidad digital, diseñada para captar la atención de los más jóvenes, contribuye a una cultura de gratificación instantánea y a la pérdida de la magia de la imaginación sin pantallas.",
      "En este escenario, la responsabilidad recae en los adultos. Padres y cuidadores deben ser guías en la travesía entre pantallas y recuerdos al aire libre. Establecer límites en el tiempo de pantalla, fomentar actividades al aire libre y abrir un diálogo honesto sobre los riesgos de la sobreexposición tecnológica son estrategias esenciales para construir un equilibrio saludable.",
      "En un mundo donde la conectividad digital se ha vuelto inseparable de la niñez, preservar la esencia de juegos físicos y relaciones reales se convierte en una tarea urgente. La magia de la infancia reside en la exploración tangible y la conexión humana, y es responsabilidad de la sociedad actual asegurar que esta magia perdure. El desafío es claro: encontrar el equilibrio que permita a los niños disfrutar del mundo digital sin perder la maravilla de la vida al aire libre."
    ]
  }) %>

  <modern-footer></modern-footer>
</body>
</html>