<%- include('../header.ejs', { title: "Jeff Bezos y Nvidia invierten $2 Billiones en cyborgs - AgilTech" }) %>
<body>
  <%- include('../navbar.ejs')  %>

  <%- include ('../article.ejs', { 
    title: "Jeff Bezos y Nvidia invierten $2 Billiones en cyborgs", 
    subtitle: "Los gigantes tecnologicos, Nvidia y Jeff Bezos invierten en cyborgs, robots humanoides.", 
    img: "/images/articulos/jeff-bezos-invierte-en-robots.webp", 
    content: [
      "Jeff Bezos, Nvidia Corp. y otros grandes nombres de la tecnología están invirtiendo en una empresa que está desarrollando robots humanos, según personas con conocimiento del tema, como parte de una carrera para encontrar nuevas aplicaciones para la inteligencia artificial.",
      "La startup Figure AI Inc. -también respaldada por OpenAI y Microsoft Corp.- está recaudando alrededor de $675 millones en una ronda de financiación que tiene una valoración previa a la inversión de aproximadamente $2 mil millones, dijeron las personas, que pidieron no ser identificadas porque el asunto es privado. A través de su firma Explore Investments LLC, Bezos ha comprometido $100 millones. Microsoft está invirtiendo $95 millones, mientras que Nvidia y un fondo afiliado a Amazon.com Inc. están proporcionando cada uno $50 millones.",
      "Los robots han surgido como una nueva frontera crítica para la industria de la IA, permitiéndole aplicar tecnología de vanguardia a tareas del mundo real. En Figure, los ingenieros están trabajando en un robot que se ve y se mueve como un humano. La compañía ha dicho que espera que su máquina, llamada Figure 01, pueda realizar trabajos peligrosos que no son adecuados para las personas y que su tecnología ayudará a aliviar la escasez de mano de obra.",
      "Otras compañías de tecnología también están involucradas. El brazo de capital de riesgo de Intel Corp. está invirtiendo $25 millones, y LG Innotek está proporcionando $8.5 millones. El grupo de inversión de Samsung, por su parte, se comprometió con $5 millones. Los respaldos también incluyen firmas de capital de riesgo como Parkway Venture Capital, que está invirtiendo $100 millones, y Align Ventures, que está proporcionando $90 millones.",
      "El fondo de inversión ARK Venture también está participando, con una inversión de $2.5 millones, mientras que Aliya Capital Partners está invirtiendo $20 millones. Otros inversores incluyen a Tamarack, con $27 millones; Boscolo Intervest Ltd., invirtiendo $15 millones; y BOLD Capital Partners, con $2.5 millones.",
      "OpenAI, que en un momento consideró adquirir Figure, está invirtiendo $5 millones. Bloomberg News informó en enero sobre la ronda de financiación, que comenzó con Microsoft y OpenAI como los inversores líderes iniciales. Esos grandes nombres ayudaron a atraer el flujo de efectivo de las otras entidades. Los $675 millones recaudados representan un aumento significativo sobre los $500 millones inicialmente buscados por Figure.",
      "Los representantes de Figure y sus inversores declinaron hacer comentarios o no respondieron de inmediato a las solicitudes de comentarios.",
      "Las personas con conocimiento del tema esperan que los inversores transfieran los fondos a Figure AI y firmen acuerdos formales el lunes, pero los números podrían cambiar a medida que se finalicen los detalles. La valoración previa de aproximadamente $2 mil millones no tiene en cuenta el capital que Figure está recaudando.",
      "El pasado mayo, Figure recaudó $70 millones en una ronda de financiación liderada por Parkway. En ese momento, el director ejecutivo Brett Adcock dijo: 'Esperamos ser uno de los primeros grupos en llevar al mercado un humanoide que realmente pueda ser útil y realizar actividades comerciales.'",
      "La industria de la robótica de IA ha estado ocupada últimamente. A principios de este año, la startup noruega respaldada por OpenAI, 1X Technologies AS, recaudó $100 millones. Sanctuary AI, con sede en Vancouver, está desarrollando un robot humanoide llamado Phoenix. Y Tesla Inc. está trabajando en un robot llamado Optimus, con Elon Musk calificándolo como uno de sus proyectos más importantes.",
      "Agility Robotics, respaldada por Amazon en 2022, tiene robots en pruebas en uno de los almacenes del minorista. Bezos, la segunda persona más rica del mundo, según el Bloomberg Billionaires Ranking, fue director ejecutivo de Amazon hasta 2021 y sigue siendo presidente. Su patrimonio neto se estima en $197.1 mil millones.",
      "Suscríbete al boletín Eye on AI para mantenerte al tanto de cómo la IA está dando forma al futuro de los negocios. Regístrate gratis."
    ]
  }) %>

  <modern-footer></modern-footer>
</body>
</html>
