<%- include('../header.ejs', { title: "Mark Zuckerberg en el Banquillo: Arrepentido, pide disculpas - AgilTech" }) %>
<body>
  <%- include('../navbar.ejs')  %>

  <%- include ('../article.ejs', { 
    title: "Mark Zuckerberg en el Banquillo: Arrepentido, pide disculpas en una Audiencia explosiva en el Congreso de EE. UU.",
    subtitle: "El CEO de Meta se enfrenta a duras críticas por políticas de seguridad en redes sociales y su impacto en menores", 
    img: "/images/articulos/mark-zuckerberg-arrepentido.jpg", 
    content: ["Mark Zuckerberg, presidente ejecutivo de Meta (Facebook, Instagram), se vio envuelto en un intenso juicio en el Senado de Estados Unidos, enfrentándose a cuestionamientos sobre las políticas de seguridad de la compañía en las redes sociales y su supuesto impacto perjudicial en los niños.",
      "Durante la audiencia, el senador republicano Ted Cruz arremetió contra Zuckerberg, cuestionando las políticas de Instagram relacionadas con el contenido de abuso sexual infantil. Cruz señaló la presencia de anuncios de advertencia en la plataforma y criticó las opciones dadas a quienes buscan contenido inapropiado. Ante este señalamiento, Zuckerberg enfrentó la pregunta, defendiendo las prácticas de la red social.",
      "Bajo la presión del senador Josh Hawley, Zuckerberg se puso de pie y se dirigió a las familias que mostraban fotografías de sus hijos, supuestamente perjudicados por las redes sociales. Hawley acusó directamente a Zuckerberg, alegando que su producto está matando gente. En respuesta, el CEO de Meta expresó su pesar y se comprometió a invertir esfuerzos en la industria para mejorar la seguridad.",
      "La audiencia evidenció la creciente preocupación sobre la seguridad en las plataformas de redes sociales, especialmente en lo que respecta a la protección de menores. Las disculpas públicas de Zuckerberg y las promesas de mejoras reflejan la presión creciente de los legisladores para establecer normativas más estrictas. El enfrentamiento en el Congreso podría marcar un punto de inflexión en la forma en que las grandes tecnológicas abordan la seguridad y la responsabilidad en sus plataformas."
      ]
  }) %>

  <modern-footer></modern-footer>
</body>
</html>
