/* WhatsApp button */
.whatsapp-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #25D366; /* WhatsApp green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Added transition effect */
  }
  
  .whatsapp-btn:hover {
    background-color: #128C7E; /* Darker shade on hover */
  }
  
  /* Product styles */
  .product {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease; /* Added transition effect */
  }
  
  .product:hover {
    transform: translateY(-5px); /* Lift the product on hover */
  }
  
  .product img {
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 8px;
    object-fit: cover; /* Ensure the image covers the entire box */
  }
  
  .product h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .product p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .product image {
    width: 300;
    height: 300;
  }
  
  .product .price-before {
    font-size: 0.9rem;
    color: #666;
    text-decoration: line-through;
  }
  
  .product .price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .product .free-shipping {
    color: #28a745;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Additional styles for better spacing and alignment */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .product a.whatsapp-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #25D366; /* WhatsApp green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease; /* Added transition effect */
  }
  
  .product a.whatsapp-btn:hover {
    background-color: #128C7E; /* Darker shade on hover */
  }